*.suo
CSpectPlugins/.vs/
CopperDissassembler/bin/
CopperDissassembler/obj/
CSpectPlugins/CSpectPlugins/Debug/
CSpectPlugins/Debug/
esxDOS/bin/Debug/esxDOS.dll
esxDOS/bin/
esxDOS/obj/
i2C_Sample/bin/
i2C_Sample/obj/
Plugin/bin/
Plugin/obj/
ay8912/bin/
ay8912/obj/
NextRegisterViewer/obj/
Profiler/bin/
Profiler/obj/
FileAssociate/bin/
FileAssociate/obj/
NextRegisterViewer/bin/
CSpectPlugins/CSpectPlugins/Release/CSpectPlugins.Build.CppClean.log
CSpectPlugins/CSpectPlugins/Release/CSpectPlugins.log
CSpectPlugins/CSpectPlugins/Release/CSpectPlugins.vcxproj.FileListAbsolute.txt
SpriteViewer/bin/
SpriteViewer/obj/
DebugOut/bin/
DebugOut/obj/
CopperDissassembler/CopperDissassembler.csproj.user
esxDOS/esxDOS.csproj.user
MemoryViewer/bin/
MemoryViewer/obj/
